/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "reset.scss";
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

:root {
  /* mods */
  /* --nav-bar-color: #0045b5;
  --button-color: #7fff00;
  --overlay: rgba(104, 162, 255, 0.9); */
  --nav-bar-color: #f7bf4d;
  --button-color: #ef6236;
  --overlay: rgba(240, 220, 200, 0.9);
}

* {
  font-family: "Josefin Sans", serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--nav-bar-color);
}

.nav-bar {
  background-color: var(--nav-bar-color);
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-icon {
  text-decoration: none;
  /* align-items: flex-start; */
  color: white;
  font-size: 30px;
  padding: 10px;
}

.nav-linksAlways {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  /* border: 1px solid black; */
}

.nav-linksC {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  /* border: 1px solid black; */
  padding-right: 10px;
  padding-left: 10px;
}
.nav-linksC:visited {
  color: white;
}

.nav-linksC:last-child {
  text-decoration: none;
  background: white;
  color: var(--nav-bar-color);
  border-radius: 5px;
  padding: 15px 20px;
  /* border: 1px solid black; */
  /* padding-left: 20px; */
}

.nav-linksC:last-child:hover {
  text-decoration: none;
  background: var(--nav-bar-color);
  color: white;
  box-shadow: inset 0px 0px 0px 2px white;
  border-radius: 5px;
  padding: 15px 20px;
  transition: 0.4s;
  /* border: 1px solid black; */
  /* padding-left: 20px; */
}

.rightlinks {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.login-form-container {
  margin-top: 20px;
}

.login-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 24px;
}

select {
  width: 100%;
  padding: 100px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 24px;
  box-sizing: border-box;
  vertical-align: top;
  height: 55px;
}

.session-submit {
  background-color: var(--button-color);
  color: white;
  border-radius: 10px;
  font-size: 24px;
}

.demo-submit {
  border-radius: 10px;
  width: 60%;
  padding: 15px 20px;
  margin: 0px 20%;
  border: 1px solid grey;
  background-color: var(--button-color);
  color: white;
  font-size: 24px;
}

.welcome-message {
  color: var(--button-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.splash-image {
  background-image: url(http://beyondwords.life/wp-content/uploads/2017/10/lifting-weights-1140x700.jpg);
  background-blend-mode: overlay;
  align-items: center;
  display: flex;

  height: 500px;
  width: 100%;
  overflow: hidden;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--overlay);
  z-index: 1;
}

.sub-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.splash-text {
  font-size: 36px;
  font-weight: 900;
  color: white;
}

.splash-text-tag {
  font-size: 18px;
}

.welcome-message-tag {
  font-size: 20px;
  color: white;
  text-align: left;
  width: 60%;
  justify-content: space-around;
  margin-left: 20%;
}

.lets-get-pre {
  font-size: 18px;
  margin: 10px 0;
  color: white;
  font-weight: 900;
  width: 200px;
  background-color: var(--button-color);
  padding: 20px;
  border: 1px solid var(--button-color);
  text-align: center;
  border-radius: 5px;
}

.splash-bar-text {
  background-color: blue;
  color: white;
}

.event-index {
  border: 1px solid blue;
  margin: 10px auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.pre-splash-image {
  background-image: url(https://www.powerrackstrength.com/wp-content/uploads/2015/03/DSC_1603.jpg);
  background-blend-mode: overlay;
  align-items: center;
  display: flex;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--overlay);
  z-index: 1;
}

.pre-sub-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pre-splash-text {
  font-size: 36px;
  font-weight: 900;
  color: white;
}
.pre-splash-text-tag {
  font-size: 18px;
}

.pre-splash {
  background-image: url(https://www.powerrackstrength.com/wp-content/uploads/2015/03/DSC_1603.jpg);
  background-blend-mode: overlay;
  height: 500px;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--overlay);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-event-button {
  font-size: 18px;
  margin-top: 10px;
  color: white;
  font-weight: 900;
  width: 200px;
  background-color: var(--button-color);
  padding: 20px;
  border: 1px solid var(--button-color);
  text-align: center;
  border-radius: 5px;
}

.pre-message-bar {
  width: 50%;
  margin: 15px auto;
}

.pre-message-bar-header {
  font-size: 24px;
  color: var(--button-color);
  font-weight: 1000;
  margin: 10px 0;
}

.pre-message-bar-content {
  font-weight: 200;
  font-size: 18px;
}

.city-bar {
  width: 60%;
  margin: 0 auto;
  /* border: 1px black solid; */
  background-color: PapayaWhip;
  display: block;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  border-radius: 10px;
}
.city-bar-message {
  display: block;
  align-content: center;
  justify-content: center;
  /* border: 1px solid red; */
  padding-top: 10px;
  font-size: 20px;
  color: var(--nav-bar-color);
}

.city-bar-items {
  /* border: 1px solid blue; */
  display: flex;
  justify-content: center;
  text-align: center;
}

.city-bar-item {
  margin: 15px;
  background-color: white;
  border: 1px solid var(--nav-bar-color);
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: var(--nav-bar-color);
}

.cities-events {
  border: 1px solid black;
  width: 75%;
  margin: 10px auto;
  display: block;
}

.city-name {
  border: 1px solid purple;
  display: inline-table;
  margin: 10px;

  padding: 50px;
}

.city-events {
  margin: 10px;
  border: 1px solid green;
  display: inline-block;
}

.overhead {
  margin: 15px auto;
  width: 65%;
}

.event-form {
  margin-top: 15px;
}

.event-form-header {
  text-align: center;
  font-size: 36px;
}
.event-attr {
  font-size: 24px;
  padding: 5px 0;
  display: block;
}
.event-description {
  width: 100%;
  height: 100px;
  font-size: 20px;
}

.edit-event-button {
  font-size: 18px;
  margin: 10px auto;
  color: white;
  font-weight: 900;
  width: 200px;
  background-color: var(--button-color);
  padding: 20px;
  border: 1px solid var(--button-color);
  text-align: center;
  border-radius: 5px;
  align-items: cent er;
}
