/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'reset.scss';
 @import url("https://fonts.googleapis.com/css?family=Josefin+Sans");



:root {
  --yel: #f7bf4d;
  --ora: #ef6236
}


li {
    list-style-type: none;
}

* {
  font-family: "Josefin Sans", serif;
}

.nav-bar {
  background-color: var(--yel);
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-icon {
  text-decoration: none;
  /* align-items: flex-start; */
  color: white;
  font-size: 30px;
  padding: 10px;
}

.nav-linksAlways {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  /* border: 1px solid black; */
}

.nav-linksC {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  /* border: 1px solid black; */
  padding-right: 10px;
  padding-left: 10px;
}
.nav-linksC:visited {
  color: white;
}

.nav-linksC:last-child {
  text-decoration: none;
  background: white;
  color: var(--yel);
  border-radius: 5px;
  padding: 15px 20px;
  /* border: 1px solid black; */
  /* padding-left: 20px; */
}

.nav-linksC:last-child:hover {
  text-decoration: none;
  background: var(--yel);
  color: white;
  box-shadow: inset 0px 0px 0px 2px white;
  border-radius: 5px;
  padding: 15px 20px;
  transition: 0.4s;
  /* border: 1px solid black; */
  /* padding-left: 20px; */
}

.rightlinks {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.login-form-container {
  margin-top: 20px;
}

.login-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

input {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 24px;
}

select {
  width: 100%;
  padding: 100px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 24px;
  box-sizing: border-box;
  vertical-align: top;
  height: 55px;
}

.session-submit {
  background-color: var(--ora);
  color: white;
  border-radius: 10px;
  font-size: 24px;
}

.demo-submit {
  border-radius: 10px;
  width: 60%;
  padding: 15px 20px;
  margin: 0px 20%;
  border: 1px solid grey;
  background-color: var(--ora);
  color: white;
  font-size: 24px;

}

.welcome-message {
  color: var(--ora);
  font-size: 36px;
  font-weight: 700;
  text-align: center;

}

.splash-image {
  background-image: url(http://beyondwords.life/wp-content/uploads/2017/10/lifting-weights-1140x700.jpg);
  background-blend-mode: overlay;
  align-items: center;
  display: flex;

  height: 500px;
  width: 100%;
  overflow: hidden;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(240, 220, 200, 0.9);
  z-index: 1;
}

.sub-splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.splash-text {
  font-size: 36px;
  font-weight: 900;
  color: white;
}

.welcome-message-tag {
  font-size: 20px;
  text-align: left;
  width: 60%;
  justify-content: space-around;
  margin-left: 20%;
}

.splash-bar-text {
  background-color: blue;
  color: white;
}

.event-index {
  border: 1px solid blue;
  margin: 10px auto;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: center;
  align-items: center;
} */
.pre-splash {
  height: 1000px;
  background-image: url(https://www.powerrackstrength.com/wp-content/uploads/2015/03/DSC_1603.jpg);
  background-blend-mode: overlay;
  height: 500px;
  width: 100%;
  overflow: hidden;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(240, 220, 200, 0.9);
  z-index: 1;
}

.create-event-button {
  color: white;
  background-color: var(--ora);
  padding: 20px;
  border: 1px solid var(--ora);
  position: absolute;
  top: 80px;
  left: 10px;
  border-radius: 5px;
}

.event-index-city-name {
  padding: 75px 75px;
  margin-top: 1em;
  border: 1px solid #f5997d;
}

.event-index-city-events {
  display: flex;
}
