@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
   font-family: 'Josefin Sans',serif;
 }

.nav-bar {
  background-color: #F7BF4D;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
}

.nav-icon {
  text-decoration: none;
  /* align-items: flex-start; */
  color: white;
  font-size: 30px;
  padding: 10px
}

.nav-linksAlways {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  font-weight: bold;
  padding-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  /* border: 1px solid black; */

}

.nav-linksC {
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  /* border: 1px solid black; */
  padding-right: 10px;
  padding-left: 10px;
}
.nav-linksC:visited {
    color: white;
}


.nav-linksC:last-child {
  text-decoration: none;
  background: white;
  color: #F7BF4D;
  border-radius: 5px;
  padding: 15px 20px;
  /* border: 1px solid black; */
  /* padding-left: 20px; */
}

.nav-linksC:last-child:hover {
  text-decoration: none;
  background: #F7BF4D;
  color: white;
  box-shadow:inset 0px 0px 0px 2px white;
  border-radius: 5px;
  padding: 15px 20px;
  transition: 0.4s;
  /* border: 1px solid black; */
  /* padding-left: 20px; */
}

.rightlinks {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

body {
  text-align: center;
}



.login-form {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;

}




input {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 4px;
    font-size: 24px;
}

select {
  width: 100%;
  padding: 100px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;
  font-size: 24px;
  box-sizing: border-box;
  vertical-align:top;
  height:55px;

}

.session-submit {
  background-color: #EF6236;
  color: white;
  border-radius: 10px;
  font-size: 24px;




}

.demo-submit {
  border-radius: 10px;
  width: 60%;
  padding: 15px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  background-color: #EF6236;
  color: white;
  font-size: 24px;
}

.welcome-message {
  color: #EF6236;
  font-size: 36px;
  font-weight: 700;
  position: relative;
  text-align: center;

}


.sub-splash{
    display: flex;
    align-items: center;
}


.splash-image {

  background-image: url(http://beyondwords.life/wp-content/uploads/2017/10/lifting-weights-1140x700.jpg);
  background-blend-mode: overlay;
align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  overflow: hidden;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.splash-image {
    background-color: rgba(240, 220, 200, 0.9);
    z-index: 1;

}

.splash-text {
  background-color: red;
  font-size: 28px;
  color: white;
}

.welcome-message-tag {
  font-size: 20px;
  text-align: left;
  width: 60%;
  justify-content: space-around;
  margin-left: 20%
}

.splash-bar-text {
  background-color: blue;
  color: white;



}
